<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-primary-500" style="display:none;">
	
	<div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0">

		<div class="w-full md:w-3/5 lg:pr-10 text-white">

			<h3 class="text-2xl font-semibold mb-4">订阅我们的通讯</h3>

			<p>获取温哥华最新生活资讯、活动和独家内容。只需输入您的电子邮件，我们将确保您了解最新信息！</p>

		</div>

		<div class="self-center flex flex-col w-full md:w-2/5">

			<form class="block lg:flex space-y-6 lg:space-y-0 lg:space-x-4">

				<input class="w-full lg:w-3/5 px-6 py-2 rounded-full" type="email" placeholder="您的电子邮件..." required>

				<button class="w-full lg:w-2/5 px-6 py-2 rounded-full bg-white">订阅</button>

			</form>
      
			<p class="text-sm text-white mt-4">
				订阅即表示您同意我们的<a href="/terms-of-service/" class="underline hover:text-primary-100">服务条款</a>和<a href="/privacy-policy/" class="underline hover:text-primary-100">隐私政策</a>
			</p>
		</div>
		
	</div>

</div> 